.container > * {
    width: 100%;
    height: 100%;
}

.hero-section {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('../img/background-page.svg');
    background-repeat: no-repeat;
    background-size: cover;
    transition: .1s ease-in;
}

.hero__inner {
    padding: 4rem; 
    border-top: 0.25rem solid gold;
    border-bottom: 0.25rem solid gold;
    display: flex;
    margin: 0 auto;
    width: min(100%, 120rem);
    align-items: center;
    gap: 5rem;
}

fieldset {
    display: flex;
    flex-flow: column nowrap;
    border: none;
    gap: 2rem;
}

.input-field {
    display: flex;
}

button {
    background: gold;
}

.cpf-btn {
    flex: 1 1 10rem;
    font-size: 1.5rem;
    font-weight: 500;
}

input {
    font-size: 2rem;
    min-height: 4rem;
    padding-left: 0.5rem;
    transition: .1s ease-in-out;
}

.hero__logo-container {
    width: 60%;
}

.hero__form-container {
    width: 40%;   
}

.logo-wrapper {
    display: block;
}

.logo-img {
    display: block;
    width: 100%;
    height: 100%;
}

input:focus {
    outline: 2px solid gold;
    box-shadow: 0rem 0rem 2rem rgba(255, 217, 0, 0.5);
}

.validation-result {
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
    font-size: 4rem;
    background: white;
    padding: 2rem;
    border-radius: 2rem;
    width: 80rem;
    height: 40rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: .3s ease-in-out;
    box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3);
}

.valid {
    color: green;
    visibility: visible;
    opacity: 100;
}

.invalid {
    color: red;
    visibility: visible;
    opacity: 100;
}

.blur {
    filter: blur(.5rem);
    pointer-events: none;
}

.validation-result__btn {
    padding: 0.5rem 4rem;
    transition: .1s ease-in-out;
    font-size: 2rem;
}

button:hover {
    background: rgb(255, 200, 0);
}

.validation-result__btn:active {
    background: rgb(255, 174, 0);
    transform: scale(0.9);
}